@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
strong {
  font-weight: normal;
}
body {
  font-family: 'Roboto Slab', "Georgia", "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.42857143;
  /*letter-spacing: 1px;*/
  /*color: #ebebeb;
  background-color: #2b3e50;*/
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.1;
  color: inherit;
}

